@import '../variables.scss';

.Timeline {
    position  : relative;
    margin-top: 50px;
    width     : 90%;
}

.Timeline::after {
    content         : '';
    position        : absolute;
    width           : 6px;
    background-color: white;
    top             : 0;
    bottom          : 0;
    margin-left     : -3px;
    left            : 50%;
}

.TimelineItem__container {
    padding         : 10px 40px;
    position        : relative;
    background-color: inherit;

    width : 50%;
    cursor: pointer;
}

.TimelineItem__container::after {
    content         : '';
    position        : absolute;
    width           : 25px;
    height          : 25px;
    right           : -17px;
    background-color: white;
    border          : 4px solid #052F5F;
    top             : 15px;
    border-radius   : 50%;
    z-index         : 1;
}

.TimelineItem__left {
    left: 0;
}

.TimelineItem__right {
    left: 50%;
}

.TimelineItem__left::before {
    content     : " ";
    height      : 0;
    position    : absolute;
    top         : 22px;
    width       : 0;
    z-index     : 1;
    right       : 30px;
    border      : medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.TimelineItem__right::before {
    content     : " ";
    height      : 0;
    position    : absolute;
    top         : 22px;
    width       : 0;
    z-index     : 1;
    left        : 30px;
    border      : medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}


.TimelineItem__right::after {
    left: -16px;
}

.TimelineItem__content {
    padding         : 15px;
    background-color: white;
    position        : relative;
    border-radius   : 6px;

    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
}

.TimelineItem__title {
    width      : 100%;
    text-align : left;
    font-size  : 20px;
    margin     : 15px 0;
    font-weight: bold;
}

.TimelineItem__period {
    width      : 100%;
    text-align : right;
    font-size  : 15px;
    font-weight: bold;
    color      : $overaly;
}

.TimelineItem__logo {
    width    : 100%;
    max-width: 300px;
}


.TimelineItem__desc {
    width      : 100%;
    height     : 0;
    overflow   : hidden;
    transition : 300ms;
    word-wrap  : break-word;
    white-space: pre-wrap;
}

.TimelineItem__content--show .TimelineItem__desc {
    height: auto;
}

//Responsive
@media only screen and (max-width: 780px) {
    .Timeline::after {
        left: 31px;
    }

    .Timeline {
        width: 100%;
    }

    .TimelineItem__container {
        width: 100%;

        padding-left : 70px;
        padding-right: 25px;
    }

    .TimelineItem__container::before {
        left        : 60px;
        border      : medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .TimelineItem__right::after,
    .TimelineItem__left::after {
        left: 15px;
    }

    .TimelineItem__right {
        left: 0%;
    }
}